{{ $item := .item }}
{{ $year_value := $item.Params.event_start | default $item.Date }}
{{ $month_year := (time $year_value).Format "January 2006" }}
{{ $has_attachments := partial "functions/has_attachments" $item }}
{{ $pub := partial "functions/resolve_publication.html" $item }}
{{ $top_award := "" }}
{{ with $item.Params.awards }}{{ $top_award = index . 0 }}{{ end }}

<div class="pub-list-item view-citation" style="margin-bottom: 1rem">
  <i class="far fa-file-alt pub-icon" aria-hidden="true"></i>

  <a href="{{ $item.RelPermalink }}" class="underline">{{ $item.Title }}</a>{{ if eq $item.Params.language "es" }}<span class="lang-badge">(in Spanish)</span>{{ end }}

  <span class="article-metadata li-cite-author">
    {{ partial "page_metadata_authors" $item }}
  </span>

  {{ if not $pub.is_empty }}
  <span class="pub-journal"><span class="pub-journal-name">{{- $pub.display_short | markdownify -}}</span>, {{ $month_year }}</span>
  {{ else }}
  <span class="li-year">{{ $month_year }}</span>
  {{ end }}

  {{ with $top_award }}
    <span class="ml-1">{{ partial "components/award_badge.html" (dict "award" . "page" $item "variant" "inline") }}</span>
  {{ end }}

  {{ if $has_attachments }}
  <div class="flex flex-wrap space-x-3">
    {{ partial "page_links" (dict "page" $item "is_list" 1) }}
  </div>
  {{ end }}
</div>
